/* GENERAL BODY STYLES START */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #393a10;
}
/* GENERAL BODY STYLES END */

/* JUMBOTRON STYLES START */
.jumbotron {
  text-align: center;
  background-color: #393a10;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid #c4c0ab;
  padding: 40px;
}

.jumbotron h1 {
  color: #c4c0ab;
  font-weight: bold;
}

.jumbotron .lead {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 15px;
}
/* JUMBOTRON STYLES START */

/* CURRENT TIME DISPLAY STYLES START */
.time-display {
  background-color: #393a10;
}
/* CURRENT TIME DISPLAY STYLES END */

/* BLOCK STYLES START */
.row {
  white-space: pre-wrap;
  height: 80px;
  /* margin-bottom: 3px; */
  /* border-top: 1px solid #C4C0AB; */
}

/* TIME section styles */
.time-block {
  text-align: center;
  border-radius: 15px;
}

/* hour section styles */
.hour {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
  background-color: #D5BB9A;
  white-space: pre-wrap;
  padding-right: 5px;
  margin-right: 3px;
}

.hbot, .htop {
  padding: 6px 6px;
}

.col-hour {
	flex: 0 0 11%;
	max-width: 11%;
}

/* BOTH hour and description */
.hbot, .dbot {
  border-top: 1px dashed #393a10;
}

.dtop, .htop {
  border-top: 1px solid #393a10;
}

/* DESCRIPTION section styles */
textarea {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #393a10;
  background: transparent;
  border: none;
  resize: none;
  /* border-left: 1px solid black; */
  padding: 10px;
}

textarea:focus {
  outline: none !important;
  border: 1px solid #C1839F;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 1px 1px 10px #C1839F;
}

.description {
  background-color: #eae8dd;
  white-space: pre-wrap;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.dbot, .dtop {
  padding: 6px 6px;
}

/* BOTH SAVE and CLEAR button styles */
.saveBtn,
.clearBtn {
  color: white;
  background-color: #80633f;
  border-top: 1px solid #393a10;
  border-left: 1px solid #393a10;
  border-radius: 15px;
}

.saveBtn:not(:hover),
.clearBtn:not(:hover) {
  color: white;  
  background-color:  #80633f;
  transition: all 0.6s ease-in-out;
}

/* SAVE button styles */
.saveBtn:hover {
  color: #393a10;  
  background-color: #C9A77E;
  transition: all 0.6s ease-in-out;
}

.saveBtn span {
  font-size: 35px;
  pointer-events: none; /* to stop icon from taking on click event */
}

/* CLEAR button styles */
.col-clear {
	flex: 0 0 6%;
	max-width: 6%;
}

.clearBtn:hover {
  color: black;  
  background-color: maroon;
  transition: all 0.6s ease-in-out;
}

.clearBtn span {
  font-size: 25px;
  pointer-events: none; /* to stop icon from taking on click event */
}
/* HOUR BLOCK STYLES END */

/* WHEN STYLES START */
.past {
  background-color: #787354dc;
}

.future {
  background-color: #c4c0ab;
  color: white;
}
/* WHEN STYLES END */

/* MEDIA QUERY STYLES START */
/* If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 600px) {
  /* SAVE AND CLEAR BTNS STYLES START */
  .saveBtn,
  .clearBtn {
    padding: 0;
  }
  /* SAVE AND CLEAR BTNS STYLES END */

  /* SAVE BUTTON STYLES START */
  .saveBtn span {
    font-size: 20px;
    padding-top: 5px;
    padding-left: 4px;
  }
  /* SAVE BUTTON STYLES END */

  /* CLEAR BUTTON STYLES START */
  .col-clear {
    flex: 0 0 8%;
    max-width: 8%;
  }

  .clearBtn span {
    font-size: 20px;
    padding-top: 5px;
  }
  /* CLEAR BUTTON STYLES START */
}