body {
  font-family: "Montserrat", sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  font-size: 16px;
  line-height: 1;
  background-color: #393a10;
}

/* JUMBOTRON STYLES START */
.jumbotron {
  text-align: center;
  background-color: #393a10;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid #c4c0ab;
  padding: 40px;
}

.jumbotron h1 {
  color: #c4c0ab;
  font-weight: bold;
}

.jumbotron .lead {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 15px;
}
/* JUMBOTRON STYLES START */

/* CURRENT TIME DISPLAY STYLES START */
.time-display {
  background-color: #393a10;
}
/* CURRENT TIME DISPLAY STYLES END */

/* BLOCK STYLES START */
.row {
  white-space: pre-wrap;
  height: 80px;
  /* margin-bottom: 3px; */
  /* border-top: 1px solid #C4C0AB; */
}

/* TIME section styles */
.time-block {
  text-align: center;
  border-radius: 15px;
}

/* hour section styles */
.hour {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
  background-color: #D5BB9A;
  white-space: pre-wrap;
  padding-right: 5px;
  margin-right: 3px;
}

.hbot, .htop {
  padding: 6px 6px;
}

.col-15{
	flex: 0 0 11%;
	max-width: 11%;
}

/* BOTH hour and description */
.hbot, .dbot {
  border-top: 1px dashed #393a10;
}

.dtop, .htop {
  border-top: 1px solid #393a10;
}

/* DESCRIPTION section styles */
textarea {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #393a10;
  background: transparent;
  border: none;
  resize: none;
  /* border-left: 1px solid black; */
  padding: 10px;
}

textarea:focus {
  outline: none !important;
  border: 1px solid #C1839F;
  box-shadow: 1px 1px 10px #C1839F;
}

.description {
  background-color: #eae8dd;
  white-space: pre-wrap;
}

.dbot, .dtop {
  padding: 6px 6px;
}

/* SAVE button styles */
.saveBtn {
  color: white;
  background-color: #80633f;
  border-top: 1px solid #393a10;
  border-left: 1px solid #393a10;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
/* #C08787 */

.saveBtn:hover {
  color: #393a10;  
  background-color: #C9A77E;
  transition: all 0.6s ease-in-out;
}

.saveBtn:not(:hover) {
  color: white;  
  background-color:  #80633f;
  transition: all 0.6s ease-in-out;
}

.saveBtn span {
  font-size: 35px;
}
/* HOUR BLOCK STYLES END */

/* WHEN STYLES START */
.past {
  background-color: #787354dc;
}

.future {
  background-color: #c4c0ab;
  color: white;
}
/* WHEN STYLES END */

.des {
  max-height: 70px;
}